@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: Justin Aybar
   Date: 10.24.18  
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */
/* This sets the div element with the a class of row with a width of 100% and a clear of both */
div.row {
    clear: both;
    width: 100%;

}

/* This sets the div element with a class called row and a psuedo class called after with a clear of both, content of nothing, and a display of table */
div.row::after {
    clear: both;
    content: "";
    display: table;
}

/* Grid Columns Styles */
/* This sets the class with column of a float to the left of the web page. So what this does instead of putting float left on the class column for every one you can just do this and it will do it for all instead of doing it over and over again */
div[class^="column"] {
    float: left;
}

/* This sets the div element and a class called column 100 with a width of 100% */
div.column100 {
    width: 100%;
}

/* This sets the div element and a class called column 100 with a width of 50% */
div.column50 {
    width: 50%;
}

/* This sets the div element and a class called column 100 with a width of 33.33% */
div.column33 {
    width: 33.33%;
}

/* This sets the div element and a class called column 100 with a width of 66.67% */
div.column67 {
    width: 66.67%;
}

/* This sets the div element and a class called column 100 with a width of 25% */
div.column25 {
    width: 25%;
}

/* This sets the div element and a class called column 100 with a width of 75% */
div.column75 {
    width: 75%;
}

/* This sets the div element and a class called column 100 with a width of 20% */
div.column20 {
    width: 20%;
}

/* This sets the div element and a class called column 100 with a width of 40% */
div.column40 {
    width: 40%;
}

/* This sets the div element and a class called column 100 with a width of 60% */
div.column60 {
    width: 60%;
}

/* This sets the div element and a class called column 100 with a width of 80% */
div.column80 {
    width: 80%;
}

/* Grid Spacing Styles */
/* This sets the all the div elements with the classes of container and row with a box sizing of border box */
div.container,
div.row,
div[class^="column"],
div.cell,
div.cell a {
    box-sizing: border-box;
}